<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- footer -->
  <footer id="footer">
    <h3>Fale com a minha mão &copy; 2023</h3>
    <p>Site criado para projeto interdisciplinar da Fatec Zona Leste</p>
    <ul class="socials">
      <li>
        <a href="#instagram">Instagram</a>
      </li>
      <li>
        <a href="#facebook">Facebook</a>
      </li>
    </ul>
    <p><a href="#">
      <img id="git-icon" src="@{/src/}" height="60px" ; width="60px">
    </a></p>
  </footer>

  <!-- responsividade da navbar -->
  <script src="../js/mobile-navbar.js"></script>
  <script src="../js/font-size.js"></script>

  <!-- Adicionando o VLibras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>