<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>
    <title>Header</title>
    <script th:src="@{/js/contraste.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>

<body id="menunav">
    <header>
        <div class="acessibilidade">
          <div class="btn-container">
            <label class="label-1"><a href="#content" accesskey="1" title="Ir para contéudo da página">Ir para o conteúdo [1]</a></label>
            <label class="label-1"><a href="#menunav" accesskey="2" title="Ir para o menu de navegação">Ir para menu [2]</a></label>
            <label class="label-1"><a href="#footer" accesskey="3" title="Ir para o rodapé">Ir para o rodapé [3]</a></label>
            <label class="label-1"><a th:href="@{/acessibilidade}">ACESSIBILIDADE</a></label>
            <label class="label-1">Contraste:</label>
    
            <!-- Site Normal -->
            <button id="semcontraste" class="semcontraste" href="javascript:void(0);" title="Site Normal">-</button>
    
            <!-- Site Auto Contraste -->
            <button id="contraste" class="contraste" href="javascript:void(0);" title="Alto contraste">-</button>
    
            <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
            <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>
    
          </div>
        </div>
    
        <!-- navbar -->
        <nav >
          <a id="logo" th:href="@{/}">Fale com Minha Mão</a>
        <nav id="nav-header">
          <a id="logo" th:href="@{/}">
            <img th:src="@{../img/logo/logo.png}" alt="logo Fale com a minha mão">
          </a>
    
          <ul class="nav-list">
            <li><a th:href="@{/fale-conosco}">Fale conosco</a></li>
            <li><a th:href="@{/sobre-nos}">Sobre nós</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/criar-usuario}">Cadastro</a></li>
          </ul>
        </nav>
        <!-- responsividade da navbar -->
        <script th:src="@{/js/mobile-navbar.js}"></script>
        <script th:src="@{/js/font-size.js}"></script>

        <!-- Adicionando o VLibras -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
      </header>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>