<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>
    <title>SCC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/07afd95a3d.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
</head>

<body>
    <header>
        <div class="acessibilidade">
          <div class="btn-container">
            <label class="label-1"><a href="#home-content" accesskey="1" title="Ir para contéudo da página">Ir para o conteúdo [1]</a></label>
            <label class="label-1"><a href="#nav" accesskey="2" title="Ir para o menu de navegação">Ir para menu [2]</a></label>
            <label class="label-1"><a href="#footer" accesskey="3" title="Ir para o rodapé">Ir para o rodapé [3]</a></label>
            <label class="label-1"><a href="acessibilidade.html">ACESSIBILIDADE</a></label>
            <label class="label-1">Contraste:</label>
    
            <!-- Site Normal -->
            <button id="semcontraste" class="semcontraste" href="javascript:void(0);" title="Site Normal">-</button>
    
            <!-- Site Auto Contraste -->
            <button id="contraste" class="contraste" href="javascript:void(0);" title="Alto contraste">-</button>
    
            <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
            <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>
    
          </div>
        </div>
    
        <!-- navbar -->
        <nav>
          <a id="logo" href="index.html">Fale com Minha Mão</a>
        <nav id="nav-header">
          <a id="logo" href="index.html">
            <img src="../img/logo/logo.png" alt="logo Fale com a minha mão">
          </a>
    
          <ul class="nav-list">
            <li><a href="faleconosco.html">Fale conosco</a></li>
            <li><a href="sobrenos.html">Sobre nós</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="cadastroUsuario.html">Cadastro</a></li>
            <li><a href="cadastroUsuario.html"></a></li>
          </ul>
        </nav>
        <!-- responsividade da navbar -->
        <script src="../js/mobile-navbar.js"></script>
        <script src="../js/font-size.js"></script>

        <!-- Adicionando o VLibras -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
      </header>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>