<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="pt-BR">

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <!-- Conteúdo da página aqui -->
    <!-- Seus scripts e links JavaScript aqui -->
    <header>
        <div class="navbar2">
            <div class="logo2"><a th:href="@{/}">FCMM</a></div>
            <!-- <div>
            <ul class="links2">
                <li><a th:href="#">Sobre nós</a></a></li>
                <li><a th:href="#">Fale conosco</a></a></li>
                <li><a href="/src/main/resources/templates/login.html">Login</a></a></li>
                <li><a href="/src/main/resources/templates/cadastroUsuario.html">Cadastro</a></li>
            </ul>
            </div>
            <div class="toggle_btn">
                <i class='bx bx-menu'></i>
            </div>
            </div>

            <div class="dropdown_menu">
                <li><a th:href="#">Sobre nós</a></a></li>
                <li><a th:href="#">Fale conosco</a></a></li>
                <li><a href="/src/main/resources/templates/login.html">Login</a></a></li>
                <li><a href="/src/main/resources/templates/cadastroUsuario.html">Cadastro</a></li>
            </div> -->
            <label for="bt_menu"><img src="/src/main/resources/static/assets/menu.png"></label>
            <input type="checkbox" id="bt_menu"><!--menu responsivo-->
            <ul id="menu">
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Fale conosco</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/cadastroUsuario}">Cadastro</a></li>
            </ul>

            <div vw class="enabled">
                <div vw-access-button class="active"></div>
                <div vw-plugin-wrapper>
                    <div class="vw-plugin-top-wrapper"></div>
                </div>
            </div>
    </header>

    <!--<script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function (){
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.clasList = isOpen
            ?  'bx bx-x' 
            :  'bx bx-menu' 
        }
    </script>
-->

</body>

</html>