<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" media="screen" />
            <script src="/js/validarCadastro.js"></script>
            <title>Atualizar Usuario</title>
        </head>
        <body>
            <header th:insert="~{fragments/header}"></header>
            <div id="content">
            <div class="felipelindo">
            <div class="Cadastro-Container">
                <h1>Atualizar Usuario</h1>
                <form onsubmit= "return validar();" action="#" th:action="@{/atualizar-usuario-admin/{id} (id = ${usuario.id})}" th:object="${usuario}"  method="POST">
                    <div>
                        <h2>Detalhes da Conta</h2>
                        <div>
                            <div class="emails">
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" class="inputEmail" name="inputEmail" id="inputEmail" placeholder="seuemail@email.com" th:field="*{email}" required><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input type="password" class="inputSenha" name="inputSenha" placeholder="************" th:field="*{senha}"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input type="text" class="inputName" name="inputName" placeholder="Edson" th:field="*{nome}"><br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input type="text" class="inputSobrenome" name="inputSobrenome" placeholder="Saraiva" th:field="*{sobrenome}"><br>
                            </div>
                        </div>
                        <div class="extras" >
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular">Número de celular*</label><br>
                                <input type="tel" class="inputNumeroCelular" name="inputNumeroCelular" placeholder="+55 (11) 99999-9999" th:field="*{telefone}"><br>
                            </div>
                        </div>                 
                    </div>
                    <div>
                        <center><div>
                            <a></a>
                            <input type="submit" value="Atualizar" id= "Cadastrar" class="inputSubmitCadastrar">
                        </div>
                        <br>
                        <h3>OU</h3>
                        <p>Quer sair da atualização</p>
                        <a href="@{/crudAluno}" class="btnLogin">Voltar</a>
                        
                    </div></center>        
                </form>
            </div></center>
            </div>
        </div>
        </body>
        <footer th:insert="~{fragments/footer}"></footer>
    </html>