<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" media="screen" />
            <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
            <script type="module" th:src="@{/js/justValidate/just-validate.production.min.js}"></script>
            <script type="text/javascript" th:src="@{/js/validar.js}"></script>
            <title>Cadastro</title>
        </head>
        <body>
            <header th:insert="~{fragments/header}"></header>
            <div id="content">
            <div class="felipelindo">
            <div class="Cadastro-Container">
                <h1>Bem-vindo!</h1>
                <form 
                id="cadastro-usuario" 
                action="#" 
                th:action="@{/criar-usuario}" 
                th:object="${usuario}"  
                method="POST">
                    <div>
                        <h2>Detalhes da Conta</h2>
                        <div>
                            <div class="emails">
                                <div class="alerta" th:if="${#fields.hasErrors('nome')}">
                                    <label class="validarMensagem" th:errors="*{nome}"></label>
                                </div>
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input 
                                    type="email" 
                                    class="inputEmail"
                                    name="inputEmail"  
                                    for="cadastro-usuario" 
                                    id="inputEmail"
                                    placeholder="seuemail@email.com" 
                                    th:field="*{email}" minlength="4" required>
                                    <br>
                                </div>
                                <div class="alerta" th:if="${#fields.hasErrors('confirmarEmail')}">
                                    <label class="validarMensagem" th:errors="*{confirmarEmail}"></label>
                                </div>
                                <div>
                                    <label for="formConfirmaEmail">Confirmar email* </label><br>
                                    <input 
                                    type="email" 
                                    class="inputConfirmaEmail" 
                                    name="inputConfirmaEmail" 
                                    id="inputConfirmaEmail" 
                                    placeholder="seuemail@email.com" 
                                    th:field="*{confirmarEmail}" minlength="4" required>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div class="alerta" th:if="${#fields.hasErrors('senha')}">
                                    <label class="validarMensagem" th:errors="*{senha}"></label>
                                </div>
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input 
                                    type="password" 
                                    class="inputSenha" 
                                    id="inputSenha" 
                                    name="inputSenha" 
                                    placeholder="************" 
                                    th:field="*{senha}" minlength="4" required>
                                    <br>
                                </div>
                                <div class="alerta" th:if="${#fields.hasErrors('confirmarSenha')}">
                                    <label class="validarMensagem" th:errors="*{confirmarSenha}"></label>
                                </div>
                                <div>
                                    <label for="formConfirmaSenha">Confirmar Senha* </label><br>
                                    <input 
                                    type="password" 
                                    class="inputConfirmaSenha" 
                                    id="inputConfirmaSenha" 
                                    name="inputConfirmaSenha" 
                                    placeholder="************" 
                                    th:field="*{confirmarSenha}" minlength="4" required>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input 
                                type="text" 
                                class="inputName" 
                                name="inputName"
                                 placeholder="Edson" 
                                 th:field="*{nome}" minlength="3" required>
                                 <br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input 
                                type="text" 
                                class="inputSobrenome" 
                                name="inputSobrenome" 
                                placeholder="Saraiva" 
                                th:field="*{sobrenome}" minlength="2" required>
                                <br>
                            </div>
                        </div>
                        <div class="extras" >
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular">Número de celular*</label><br>
                                <input 
                                type="tel" 
                                class="inputNumeroCelular" 
                                id="inputNumeroCelular" 
                                name="inputNumeroCelular" 
                                placeholder="+55 (11) 99999-9999" 
                                th:field="*{telefone}" minlength="9" maxlength="16" required>
                                <br>
                            </div>
                        </div>                 
                    </div>
                    <div>
                        <h2>Termos e Condições</h2>
                        <div>
                            <input type="checkbox" class="termosCondicoes" name="termosCondicoes" value="Termos">
                            <label for="vehicle1">Eu aceito os <a href="#" class="btnTermos">Termos e Condições</a></label><br>
                        </div>
                    </div>
                    <div>
                        <center><div>
                            <input 
                            type="submit"
                            value="Cadastrar" 
                            id= "Cadastrar" 
                            class="inputSubmitCadastrar">
                        </div>
                        <br>
                        <h3>OU</h3>
                        <p>Já possui conta?</p>
                        <a th:href="@{/login}" class="btnLogin">Fazer login</a>
                        
                    </div></center>        
                </form>
            </div></center>
            </div>
            </div>
        </body>
       
        <footer th:insert="~{fragments/footer}">
            
        </footer>
    </html>