<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
            <script th:src="@{/js/adicionarAluno.js}"></script>
            <title>Cadastro</title>
        </head>
        <body>
            <header>
                <nav>
                  <a id="logo" th:href="@{/}">Fale com Minha Mão</a>
                <nav id="nav-header">
                  <a id="logo" th:href="@{/}">
                    <img th:src="@{/img/logo/logo.png}" alt="logo Fale com a minha mão">
                  </a>
                  <ul class="nav-list">
                    <li><a th:href="@{/}">Fale conosco</a></li>
                    <li><a th:href="@{/}">Sobre nós</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/criar-usuario}">Cadastro</a></li>
                  </ul>
                </nav>
                            <!-- responsividade da navbar -->
                            <script src="../js/mobile-navbar.js"></script>
                            <script src="../js/font-size.js"></script>
                    
                            <!-- Adicionando o VLibras -->
                            <div vw class="enabled">
                                <div vw-access-button class="active"></div>
                                <div vw-plugin-wrapper>
                                <div class="vw-plugin-top-wrapper"></div>
                                </div>
                            </div>
                            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                            <script>
                                new window.VLibras.Widget('https://vlibras.gov.br/app');
                            </script>
                                    </ul>
                                </div>
                            </div>
                      </nav>
        </header>
            <div class="felipelindo">
            <div class="Cadastro-Container">
                <h1>Bem-vindo!</h1>
                <form action="#" th:action="@{/criar-usuario}" th:object="${usuario}" onsubmit="return validar();" method="POST">
                    <div>
                        <h2>Detalhes da Conta</h2>
                        <div>
                            <div class="emails">
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" class="inputEmail" name="inputEmail" id="inputEmail" placeholder="seuemail@email.com" th:field="*{email}" required><br>
                                </div>
                                <div>
                                    <label for="formConfirmaEmail">Confirmar email* </label><br>
                                    <input type="email" class="inputConfirmaEmail" name="inputConfirmaEmail" id="inputConfirmaEmail" placeholder="seuemail@email.com" th:field="*{confirmarEmail}"><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input type="password" class="inputSenha" name="inputSenha" placeholder="************" th:field="*{senha}"><br>
                                </div>
                                <div>
                                    <label for="formConfirmaSenha">Confirmar Senha* </label><br>
                                    <input type="password" class="inputConfirmaSenha" name="inputConfirmaSenha" placeholder="************" th:field="*{confirmarSenha}"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input type="text" class="inputName" name="inputName" placeholder="Edson" th:field="*{nome}"><br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input type="text" class="inputSobrenome" name="inputSobrenome" placeholder="Saraiva" th:field="*{sobrenome}"><br>
                            </div>
                        </div>
                        <div class="extras" >
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular">Número de celular*</label><br>
                                <input type="tel" class="inputNumeroCelular" name="inputNumeroCelular" placeholder="+55 (11) 99999-9999" th:field="*{telefone}"><br>
                            </div>
                        </div>                 
                    </div>
                    <div>
                        <h2>Termos e Condições</h2>
                        <div>
                            <input type="checkbox" class="termosCondicoes" name="termosCondicoes" value="Termos">
                            <label for="vehicle1">Eu aceito os <a href="#" class="btnTermos">Termos e Condições</a></label><br>
                        </div>
                    </div>
                    <div>
                        <center><div>
                            <a></a>
                            <input type="submit" value="Cadastrar" id= "Cadastrar" class="inputSubmitCadastrar">
                        </div>
                        <br>
                        <h3>OU</h3>
                        <p>Já possui conta?</p>
                        <a href="@{/login}" class="btnLogin">Fazer login</a>
                        
                    </div></center>        
                </form>
            </div></center>
            </div>
        </body>
    </html>