<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
            <script th:src="@{/js/adicionarAluno.js}"></script>
            <title>Cadastro</title>
        </head>
        <body>
            <header>
                <nav>
                  <a id="logo" th:href="@{/}">Fale com Minha Mão</a>
                <nav id="nav-header">
                  <a id="logo" th:href="@{/}">
                    <img th:src="@{/img/logo/logo.png}" alt="logo Fale com a minha mão">
                  </a>
                  <ul class="nav-list">
                    <li><a th:href="@{/}">Fale conosco</a></li>
                    <li><a th:href="@{/}">Sobre nós</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/criar-usuario}">Cadastro</a></li>
                  </ul>
                </nav>
                            <!-- responsividade da navbar -->
                            <script src="../js/mobile-navbar.js"></script>
                            <script src="../js/font-size.js"></script>
                    
                            <!-- Adicionando o VLibras -->
                            <div vw class="enabled">
                                <div vw-access-button class="active"></div>
                                <div vw-plugin-wrapper>
                                <div class="vw-plugin-top-wrapper"></div>
                                </div>
                            </div>
                            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                            <script>
                                new window.VLibras.Widget('https://vlibras.gov.br/app');
                            </script>
                                    </ul>
                                </div>
                            </div>
                      </nav>
        </header>
            <div class="felipelindo">
            <div class="Cadastro-Container">
                <h1>Bem-vindo!</h1>
                <form action="#" th:action="@{/criar-usuario}" th:object="${usuario}" onsubmit="return validar();" method="POST">
                    <div>
                        <h2>Detalhes da Conta</h2>
                        <div>
                            <div class="emails">
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" class="inputEmail" name="inputEmail" id="inputEmail" placeholder="seuemail@email.com" th:field="*{email}" required><br>
                                </div>
                                <div>
                                    <label for="formConfirmaEmail">Confirmar email* </label><br>
                                    <input type="email" class="inputConfirmaEmail" name="inputConfirmaEmail" id="inputConfirmaEmail" placeholder="seuemail@email.com" th:field="*{confirmarEmail}"><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input type="password" class="inputSenha" name="inputSenha" placeholder="************" th:field="*{senha}"><br>
                                </div>
                                <div>
                                    <label for="formConfirmaSenha">Confirmar Senha* </label><br>
                                    <input type="password" class="inputConfirmaSenha" name="inputConfirmaSenha" placeholder="************" th:field="*{confirmarSenha}"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input type="text" class="inputName" name="inputName" placeholder="Edson" th:field="*{nome}"><br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input type="text" class="inputSobrenome" name="inputSobrenome" placeholder="Saraiva" th:field="*{sobrenome}"><br>
                            </div>
                        </div>
                        <div class="extras" >
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular">Número de celular*</label><br>
                                <input type="tel" class="inputNumeroCelular" name="inputNumeroCelular" placeholder="+55 (11) 99999-9999" th:field="*{telefone}"><br>
                            </div>
                        </div>                 
                    </div>
                    <div>
                        <h2>Termos e Condições</h2>
                        <div>
                            <input type="checkbox" class="termosCondicoes" name="termosCondicoes" value="Termos">
                            <label for="vehicle1">Eu aceito os <a href="#" class="btnTermos">Termos e Condições</a></label><br>
                        </div>
                    </div>
                    <div>
                        <center><div>
                            <a></a>
                            <input type="submit" value="Cadastrar" id= "Cadastrar" class="inputSubmitCadastrar">
                        </div>
                        <br>
                        <h3>OU</h3>
                        <p>Já possui conta?</p>
                        <a href="@{/login}" class="btnLogin">Fazer login</a>
                        
                    </div></center>        
                </form>
            </div></center>
            </div>
        </body>
        <!-- footer -->
        <footer id="footer">
            <h3>Fale com a minha mão &copy; 2023</h3>
            <p>Site criado para projeto interdisciplinar da Fatec Zona Leste.</p>
            <ul class="socials">
                <li><a th:href="@{/fale-conosco}">Fale conosco</a></li>
                <li><a th:href="@{/sobre-nos}">Sobre nós</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/criar-usuario}">Cadastro</a></li>
            </ul>
            <p><a href="#">      
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg>
              </a></p>
          </footer>
    </html>