<!DOCTYPE html>
    <html lang="pt-br">
        <!--Mesma página do cadastro usuário mas para os administradores-->
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
            <script src="../static/validarCadastro.js"></script>
            <title>Cadastro</title>
        </head>
        <body>
            <header>
            </header>
            <div class="Cadastro-Container">
                <h1>Cadastrar usuario</h1>
                <form action="#" th:action="@{criar-usuario-admin}" th:object="${usuario}"  onsubmit="return validar();">
                    <div>
                        <h2>Detalhes da Conta do Usuario</h2>
                        <div>
                            <div class="emails">
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" th:field="*{email}" class="inputEmail" name="inputEmail" id="inputEmail" placeholder="seuemail@email.com" required><br>
                                </div>
                                <div>
                                    <label for="formConfirmaEmail">Confirmar email* </label><br>
                                    <input type="email" th:field="*{confirmarEmail}" class="inputConfirmaEmail" name="inputConfirmaEmail" id="inputConfirmaEmail" placeholder="seuemail@email.com" required><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input type="password" th:field="*{senha}" class="inputSenha" name="inputSenha" placeholder="************"><br>
                                </div>
                                <div>
                                    <label for="formConfirmaSenha">Confirmar Senha* </label><br>
                                    <input type="password"  th:field="*{confirmarSenha}" class="inputConfirmaSenha" name="inputConfirmaSenha" placeholder="************"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input type="text" th:field="*{nome}" class="inputName" name="inputName" placeholder="Edson"><br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input type="text" th:field="*{sobrenome}" class="inputSobrenome" name="inputSobrenome" placeholder="Saraiva"><br>
                            </div>
                        </div>
                        <div class="extras" >
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular">Número de celular*</label><br>
                                <input type="tel" th:field="*{telefone}" class="inputNumeroCelular" name="inputNumeroCelular" placeholder="+55 (11) 99999-9999"><br>
                            </div>
                        </div>                 
                    </div>
                    <div>
                        <div>
                            <input type="submit" value="Cadastrar" id= "Cadastrar" class="inputSubmitCadastrar">
                        </div>
                    </div>         
                </form>
            </div>
        </body>
    </html>