<!DOCTYPE html>
<html lang="pt-br" style="overflow-x:hidden;">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capítulos</title>
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" th:href="@{css/index.css}" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="http://kit.fontawsome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="../static/validarCadastro.js"></script>
    <script src="../js/contraste.js"></script> -->
</head>

<body>
  <header th:insert="~{fragments/header}"></header>

  <div id="content">
    <div id="capitulos">
        <div class="capitulos-details">
        <img th:src="@{/img/backgrounds/bg3.jpg}">
        <div class="capitulos-title">
        <p> Capítulo 1 </p>
        <a class="btn_capitulo" th:href="@{/cap1}">Visualizar</a>
      </div>
      </div>
      <div class="capitulos-details">
        <img th:src="@{/img/backgrounds/bg2.jpg}">
        <div class="capitulos-title">
        <p> Capítulo 2 </p>
        <a class="btn_capitulo" href="#">Visualizar</a>  <!--Falta configurar o HREF do botão para visualizar o capítulo-->
      </div>
      </div>
      <div class="capitulos-details">
        <img th:src="@{/img/backgrounds/bg1.jpg}">
        <div class="capitulos-title">
        <p> Capítulo 3 </p>
        <a class="btn_capitulo" href="#">Visualizar</a>
      </div>
      </div>
    </div>
  </body>
  <div id="content"></div>
  <footer th:insert="~{fragments/footer}"></footer>
  </html>