<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>

    <!-- Icones -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img th:src="@{/img/logo/logo.png}" id="logoNav">
    </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/crud}">
            <i class='bx bx-home-alt' ></i>
            <span class="links_name">Geral</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAdministradores}" class="active">
            <i class='bx bxs-institution'></i>
            <span class="links_name">Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAluno}">
            <i class='bx bx-group' ></i>
            <span class="links_name">Usuários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudCapitulos}">
            <i class='bx bx-bookmark' ></i>
            <span class="links_name">Capitulos</span>
          </a>
        </li>
        <li class="log_out">
          <a th:href="@{/}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Sair</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
<center><div class="crudContainer2">
  <div class="headerCrud2">
    <span>Administradores</span>
    <button onclick="openModal2()" id="new2">Adicionar Administrador</i></button>
  </div>

  <div class="divTable2">
    <table>
      <thead>
        <tr>
          <th>ID do admin</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Função</th>
          <th class="acao2">Editar</th>
          <th class="acao2">Excluir</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="modal-container2">
    <div class="modal2">
      <form>
        <label for="m-idA">ID do admin</label>
        <input id="m-idA" type="number" required />

        <center><div class="crudContainer2">
          <div class="headerCrud2">
            <span>Administradores</span>
            <button onclick="openModal2()" id="new2">Adicionar Administrador</i></button>
          </div>
        
          <div class="divTable2">
            <table>
              <thead>
                <tr>
                  <th>ID do admin</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Função</th>
                  <th class="acao2">Editar</th>
                  <th class="acao2">Excluir</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        
          <div class="modal-container2">
            <div class="modal2">
              <form>
                <label for="m-idA">ID do admin</label>
                <input id="m-idA" type="number" required />
        
                <label for="m-nomeA">Nome</label>
                <input id="m-nomeA" type="text" required />

                <center><div class="crudContainer2">
  <div class="headerCrud2">
    <span>Administradores</span>
    <button onclick="openModal2()" id="new2">Adicionar Administrador</i></button>
  </div>

  <div class="divTable2">
    <table>
      <thead>
        <tr>
          <th>ID do admin</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Função</th>
          <th class="acao2">Editar</th>
          <th class="acao2">Excluir</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="modal-container2">
    <div class="modal2">
      <form>
        <label for="m-idA">ID do admin</label>
        <input id="m-idA" type="number" required />

        <label for="m-nomeA">Nome</label>
        <input id="m-nomeA" type="text" required />

        <label for="m-nomeA">Sobrenome</label>
        <input id="m-nomeA" type="text" required />

        <label for="m-emailA">E-mail</label>
        <input id="m-emailA" type="email" required />

        <label for="m-funcao">Função</label>
        <br>
        <select id="m-funcao" type="select" required >
          <option value="" selected disabled>Selecione uma opção</option>
                <option value="back-end">Back-end</option>
                <option value="front-end">Front-end</option>
        </select>
        <br>
        <br>
        <button id="btnSalvarA">Salvar</button>
      </form>
    </div>
  </div>

</div>
<script src="/web/js/adicionarAdmin.js"></script>
        
                <label for="m-emailA">E-mail</label>
                <input id="m-emailA" type="email" required />
        
                <label for="m-funcao">Função</label>
                <br>
                <select id="m-funcao" type="select" required >
                  <option value="" selected disabled>Selecione uma opção</option>
                        <option value="back-end">Back-end</option>
                        <option value="front-end">Front-end</option>
                </select>
                <br>
                <br>
                <button id="btnSalvarA">Salvar</button>
              </form>
            </div>
          </div>
        
        </div>
        <script src="/web/js/adicionarAdmin.js"></script>

        <label for="m-emailA">E-mail</label>
        <input id="m-emailA" type="email" required />

        <label for="m-funcao">Função</label>
        <br>
        <select id="m-funcao" type="select" required >
          <option value="" selected disabled>Selecione uma opção</option>
                <option value="back-end">Back-end</option>
                <option value="front-end">Front-end</option>
        </select>
        <br>
        <br>
        <button id="btnSalvarA">Salvar</button>
      </form>
    </div>
  </div>

</div>
<script src="/web/js/adicionarAdmin.js"></script>
</body>
</html>