<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icones -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     
    <title>Estatísticas</title>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img th:src="@{/img/logo/logo.png}" id="logoNav">
    </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/crud}">
            <i class='bx bx-home-alt' ></i>
            <span class="links_name">Geral</span>
          </a>
        </li>
        <li> 
          <a th:href="@{/crudAdministradores}">
            <i class='bx bxs-institution'></i>
            <span class="links_name">Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAluno}">
            <i class='bx bx-group' ></i>
            <span class="links_name">Usuários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudEstatisticas}" class="active">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="links_name">Estatísticas</span>
          </a>
        </li>
        <li class="log_out">
          <a th:href="@{/}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Sair</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
 </script>


</body>
</html>