<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icones -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img th:src="@{/img/logo/logo.png}" id="logoNav">
    </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/crud}">
            <i class='bx bx-home-alt' ></i>
            <span class="links_name">Geral</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAdministradores}">
            <i class='bx bxs-institution'></i>
            <span class="links_name">Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAluno}" class="active">
            <i class='bx bx-group' ></i>
            <span class="links_name">Usuários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudCapitulos}">
            <i class='bx bx-bookmark' ></i>
            <span class="links_name">Capitulos</span>
          </a>
        </li>
        <li class="log_out">
          <a th:href="@{/}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Sair</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

  <div class="crudContainer">
      <div class="header">
        <span>Alunos</span>
        <a th:href="@{/criar-usuario-admin}">Adicionar Aluno</a>
      </div>

      <div class="divTable">
        <table>
          <thead>
            <tr>
              <th>ID do aluno</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>E-mail</th>
              <th>Senha</th>
              <th>Telefone</th>
              <th th:href="@{/atualizar-usuario-admin/{id}}">Editar</th>
              <th th:href="@{/deletar-usuario-admin/{id}}">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="Usuario : ${usuarios}">
              <td th:text="${Usuario.id}"></td>
              <td th:text="${Usuario.nome}"></td>
              <td th:text="${Usuario.sobrenome}"></td>
              <td th:text="${Usuario.email}"></td>
              <td th:text="${Usuario.senha}"></td>
              <td th:text="${Usuario.telefone}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-container">
        <div class="modal">
          <form>
            <label for="m-id">ID do aluno</label>
            <input id="m-id" type="number" required />

            <label for="m-nome">Nome</label>
            <input id="m-nome" type="text" required />
    
            <label for="m-email">E-mail</label>
            <input id="m-email" type="email" required />
    
            <label for="m-celular">Celular</label>
            <input id="m-celular" type="tel" minlength="11" maxlength="11"  required />

            <button id="btnSalvar">Salvar</button>
          </form>
        </div>
      </div>

    </div>
  <script th:src="/assets/scripts/script.js"></script>
</body>
</html>