<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icones -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img th:src="@{/img/logo/logo.png}" id="logoNav">
    </div>
      <ul class="nav-links">
        <li>
          <a th:href="@{/crud}">
            <i class='bx bx-home-alt' ></i>
            <span class="links_name">Geral</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAdministradores}">
            <i class='bx bxs-institution'></i>
            <span class="links_name">Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudAluno}">
            <i class='bx bx-group' ></i>
            <span class="links_name">Usuários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/crudCapitulos}" class="active">
            <i class='bx bx-bookmark' ></i>
            <span class="links_name">Capitulos</span>
          </a>
        </li>
        <li class="log_out">
          <a th:href="@{/}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Sair</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
 </script>
<div>
  <link href="./geral.css" rel="stylesheet" />
  <div class="geral-container">
    <div class="geral-geral">
      <div class="geral-workspaceadmins">
      </div>
      <div class="geral-addadmin">
        <div class="geral-admin3"></div>
        <div class="geral-text02">
          <span class="geral-text03">+</span>
          <div class="geral-iconplus">
            <div class="geral-iconplus1">
              <img
                src="/playground_assets/vectori302-d999.svg"
                alt="VectorI302"
                class="geral-vector"
              />
              <img
                src="/playground_assets/vectori302-q5vh.svg"
                alt="VectorI302"
                class="geral-vector1"
              />
            </div>
          </div>
          <span class="geral-text04"><span>Adicionar capítulo</span></span>
        </div>
      </div>
      <div class="geral-logout">
        <img
          src="/playground_assets/signoutalt13021-7ubw.svg"
          alt="signoutalt13021"
          class="geral-signoutalt1"
        />
        <span class="geral-text06"><span>Sair</span></span>
      </div>
      <div class="geral-capitulos">
        <div class="geral-cap3">
          <img
            src="/playground_assets/rectangle43021-81q-300w.png"
            alt="Rectangle43021"
            class="geral-rectangle4"
          />
          <img
            src="/playground_assets/rectangle113021-63qr-200h.png"
            alt="Rectangle113021"
            class="geral-rectangle11"
          />
          <span class="geral-text08"><span>Capítulo 3</span></span>
        </div>
        <div class="geral-cap2">
          <img
            src="/playground_assets/rectangle43021-64i-300w.png"
            alt="Rectangle43021"
            class="geral-rectangle41"
          />
          <img
            src="/playground_assets/rectangle113021-u1up-200h.png"
            alt="Rectangle113021"
            class="geral-rectangle111"
          />
          <span class="geral-text10"><span>Capítulo 2</span></span>
        </div>
        <div class="geral-cap1">
          <img
            src="/playground_assets/rectangle33021-j7da-300w.png"
            alt="Rectangle33021"
            class="geral-rectangle3"
          />
          <img
            src="/playground_assets/rectangle43021-su3q-300w.png"
            alt="Rectangle43021"
            class="geral-rectangle42"
          />
          <img
            src="/playground_assets/rectangle113021-eb7s-200h.png"
            alt="Rectangle113021"
            class="geral-rectangle112"
          />
          <span class="geral-text12"><span>Revisar</span></span>
          <span class="geral-text14"><span>Capítulo 1</span></span>
          <span class="geral-text16"><span>Revisar</span></span>
          <span class="geral-text18"><span>Revisar</span></span>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>