<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{css/index.css}">
  <title>Contato</title>
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script th:src="@{/js/contraste.js}"></script>

</head>

<body>
  <header th:insert="~{fragments/header}"></header>


  <!-- formulario de contato -->
  <br>
  <br>
  <br>
  <br>
  <section id="section-fale-conosco">
    <div class="felipelindo">
    <div id="wrapper">
      <div id="header">
        <h1 id="">Contate-Nos</h1>
        <br>
        <p id="txtcontato">Você tem alguma dúvida ou uma reclamção? nos envie uma mensagem e responderemos o mais
          breve possível.</p>
          <br>
      </div>
      <form action="/formulario-contato" method="post" id="form-fale-conosco">
        <div>
            <label for="nome">Nome</label>
            <input type="texto" id="nome" name="nome_usuario" placeholder="Digite seu nome:">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email_usuario" placeholder="Digite seu email:">
        </div>
        <div>
            <label for="texto">Texto:</label><br>
            <textarea id="texto" name="texto_usuario" rows="10" cols="100" placeholder="Digite aqui sua sugestão ou reclamação"></textarea>
            <div>   
              <a th:href="@{/}" class="btnEnviar">Enviar</a>
          </div>
        </div>
      </div>
    </form>
    </div>
    </section>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>