<!DOCTYPE html>
<html lang="pt-br" style="overflow-x:hidden;">
<!--Testando commit-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minhas informações</title>
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" th:href="@{css/index.css}">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="http://kit.fontawsome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="../static/validarCadastro.js"></script>
    <script src="../js/contraste.js"></script> -->
</head>

<body>
  <header>
    <nav>
      <a id="logo" th:href="@{/}">Fale com Minha Mão</a>
      <nav id="nav-header">
        <a id="logo" th:href="@{/}">
          <img th:src="@{/img/logo/logo.png}" alt="logo Fale com a minha mão">
        </a>
        <ul class="nav-list-user">
          <li><a th:href="@{/homegit}">Início</a></li>
          <li><a th:href="@{/faleConosco}">Fale conosco</a></li>
          <li><a th:href="@{/sobreNos}">Sobre nós</a></li>
          <li><a>Olá, usuário</a></li>
            <ul class="nav-list2-user">
              <li><a th:href="@{/capitulos}">Capítulos</a></li>
              <li><a th:href="@{/infos}">Minhas informações</a></li>
              </li>
            </ul>
          </li>
          <li><a th:href="@{/}">Sair</a></li>
        </ul>
      </nav>
      <!-- responsividade da navbar -->
      <script src="../js/mobile-navbar.js"></script>
      <script src="../js/font-size.js"></script>

      <!-- Adicionando o VLibras -->
      <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
      </ul>
      </div>
      </div>
    </nav>
  </header>
            <div class="felipelindo">
            <div class="Cadastro-Container">
                <h1>Suas informações!</h1>
                <form action="#" th:action="@{/criar-usuario}" th:object="${usuario}" onsubmit="return validar();" method="POST">
                    <div>
                        <h2>Informações pessoais</h2>
                        <div class="nomeCompleto">
                            <div>
                                <label for="formName">Nome* </label><br>
                                <input type="text" class="inputName" name="inputName" placeholder="Edson" th:field="*{nome}"><br>
                            </div>
                            <div>
                                <label for="formSobrenome" class="textSobrenome">Sobrenome* </label><br>
                                <input type="text" class="inputSobrenome" name="inputSobrenome" placeholder="Saraiva" th:field="*{sobrenome}"><br>
                            </div>
                            <div>
                                <label for="formNumeroCelular" class="textNumeroCelular2">Número de celular*</label><br>
                                <input type="tel" class="inputNumeroCelular2" name="inputNumeroCelular" placeholder="+55 (11) 99999-9999" th:field="*{telefone}"><br>
                            </div>
                        </div>              
                    </div>
                    <div>
                        <h2>Detalhes da Conta</h2>
                        <div>
                            <div class="email2">
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" class="inputEmail2" name="inputEmail" id="inputEmail" placeholder="seuemail@email.com" th:field="*{email}" required><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="senhas">
                                <div>
                                    <label for="formSenha">Senha atual* </label><br>
                                    <input type="password" class="inputSenha" name="inputSenha" placeholder="************" th:field="*{senha}"><br>
                                </div>
                                <div>
                                    <label for="formSenha">Nova senha* </label><br>
                                    <input type="password" class="inputNovaSenha" name="inputNovaSenha" placeholder="************" th:field="*{senha}"><br>
                                </div>
                                <div>
                                    <label for="formConfirmaSenha" class="textConfirmaNovaSenha">Confirme nova Senha* </label><br>
                                    <input type="password" class="inputConfirmaNovaSenha" name="inputConfirmaNovaSenha" placeholder="************" th:field="*{confirmarSenha}"><br>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <center><input type="submit" value="Salvar alterações" id="salvarAlteracoes" class="inputSubmitSalvar"></center>
      
                </form>
            </div>
            </div>
        </body>
    </html>