<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" media="screen" />
            <title>Login</title>
        </head>
        <body>
            <header th:insert="~{fragments/header}"></header>
            <div class="felipelindo">
             <div class="Login-Container">
                <h1>Bem-vindo de volta!</h1>
                <form name="formUsuario" method="POST">
                    <div>
                        <div>
                            <div>
                                <div>
                                    <label for="formEmail">Email* </label><br>
                                    <input type="email" class="inputEmail" name="inputEmail" placeholder="seuemail@email.com"><br>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <label for="formSenha">Senha* </label><br>
                                    <input type="password" class="inputSenha" name="inputSenha" placeholder="************"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                    <div>
                        <div>
                            <a class="inputSubmitEntrar" th:href="@{/crud}">Entrar</a>
                </form>
            </div>
        <br>

            <center><div>    
                <h4> Não possui conta? </h4>
                <p>
                <a th:href="@{/criar-usuario}" class="btnCadastro">Cadastrar</a>
                </p>
            </div>
            </div>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>