<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/contraste.js"></script>
    <title>Sobre nós</title>
</head>

<body>
    <header th:insert="~{fragments/header}"></header>
    <!--curiosidade-->
    <div id="content">
    <center><h1 id="curiosidadeTitle">Curiosidade</h1></center>
    <div class="felipelindo">
    <div class="curiosidade">
        <div class="curiosidadeText">
              <h2>Você sabia que estudos apontam que até 72% dos gatos albino são deficientes auditivos?</h2>
                <br>
                <h3>Portanto, optamos por colocar um Gato Albino (O Floquinho) em nossa logo como forma de representatividade, além de claro, servir como um ótimo mascote!</h3>  
        </div>
        <div id="curiosidadeImg">
            <img th:src="@{/img/logo/logo.png}" alt="logo Fale com a minha mão">
        </div>
    </div>
</div>
    <!-- sobre nós -->
    <section id="main-sobre-nos">
        <center><h1>Desenvolvedores do projeto</h1></center>
        <ul class="cards_sobre">
                <!-- Gabriel -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/deid.jpeg" alt="fotografia desenvolvedor Arthur"></div>
                    <div class="card_content">
                        <h2 class="card_title">Gabriel da Silva</h2>
                        <center><p class="card_text">
                            Back-end <br> Dev
                        </p></center>
                        <a href="https://github.com/Bieldeid">
                            <svg id="git-icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgb(0, 0, 0);transform: msFilter"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Giovanna Passos -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/gi.JPG" alt="fotografia desenvolvedor Giovanna"></div>
                    <div class="card_content">
                        <h2 class="card_title">Giovanna Passos</h2>
                        <center><p class="card_text">
                            Front-end <br> Dev
                        </p></center>
                        <a href="https://github.com/giovannapfs">
                            <svg id="git-icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgb(0, 0, 0);transform: msFilter"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Karoline -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/karol.png" alt="fotografia desenvolvedor Karoline"></div>
                    <div class="card_content">
                        <h2 class="card_title">Karoline de Souza</h2>
                        <center><p class="card_text">
                            Front-end <br> Dev
                        </p></center>
                        <a href="https://github.com/koralinee">
                            <svg id="git-icon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgb(0, 0, 0);transform: msFilter"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path></svg>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    </div>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>