<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/contraste.js"></script>
    <title>Sobre nós</title>
    <!-- Icones -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header th:insert="~{fragments/header}"></header>
    <!--curiosidade-->
    <div id="content">
    <center><h1 id="curiosidadeTitle">Curiosidade</h1></center>
    <div class="felipelindo">
    <div class="curiosidade">
        <div class="curiosidadeText">
              <h2>Você sabia que estudos apontam que até 72% dos gatos albino são deficientes auditivos?</h2>
                <br>
                <h3>Portanto, optamos por colocar um Gato Albino (O Floquinho) em nossa logo como forma de representatividade, além de claro, servir como um ótimo mascote!</h3>  
        </div>
        <div id="curiosidadeImg">
            <img th:src="@{/img/logo/logo.png}" alt="logo Fale com a minha mão">
        </div>
    </div>
</div>
    <!-- sobre nós -->
    <section id="main-sobre-nos">
        <center><h1>Desenvolvedores do projeto</h1></center>
        <ul class="cards_sobre">
                <!-- Gabriel -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/deid.jpeg" alt="fotografia desenvolvedor Arthur"></div>
                    <div class="card_content">
                        <h2 class="card_title">Gabriel da Silva</h2>
                        <center><p class="card_text">
                            Back-end <br> Dev
                        </p></center>
                        <a href="https://github.com/Bieldeid">
                            <center><i id="iconGit" class='bx bxl-github'></i></center>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Giovanna Passos -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/gi.JPG" alt="fotografia desenvolvedor Giovanna"></div>
                    <div class="card_content">
                        <h2 class="card_title">Giovanna Passos</h2>
                        <center><p class="card_text">
                            Front-end <br> Dev
                        </p></center>
                        <a href="https://github.com/giovannapfs">
                            <center><i id="iconGit" class='bx bxl-github'></i></center>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Karoline -->
            <li class="cards_item_sobre">
                <div class="card">
                    <div class="card-image-sobre-nos"><img src="../img/sobre-nos/karol.png" alt="fotografia desenvolvedor Karoline"></div>
                    <div class="card_content">
                        <h2 class="card_title">Karoline de Souza</h2>
                        <center><p class="card_text">
                            Front-end <br> Dev
                        </p></center>
                        <a href="https://github.com/koralinee">
                            <center><i class='bx bxl-github'></i></center>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    </div>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>